* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}


.header {
    position: fixed;

    width: 100%;


    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header.sticky {
    background: var(--bg-color);
}

.navbar {
    margin-top: 5px;
    margin-right: 15px;
    height: 50px;
    position: relative;
}

.navbar a {
    font-size: 2.0rem;
    color: white;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: white;
}

section {

    align-items: center;
    padding: 160px;

    justify-content: space-between;
    padding: 50px;
}


.home {


    background-image: url(pp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}

.intro {
    margin-top: 50px;

    text-align: center;
}

.intro img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}

.home img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.home p {

    font-size: 20px;
    color: aliceblue;
}

.home h1 {




    font-size: 50px;
    font-family: proxima;
    animation: hoverAnimation 4s infinite;
}

@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.heading {
    color: white;
}

.hover-box:hover {
    animation-play-state: running;
}

.box {


    transition: transform 0.5s ease, background-color 0.5s ease;
}

.box:hover {
    transform: scale(1.2);
    /* Enlarges the box */
    background-color: #f5d49f;
    /* Changes the color */
}

@keyframes moveRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}




/*about section*/
.about-me {


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #112e42;
    padding-bottom: 6rem;


}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;

}

.about-img .circle-spin {
    position: absolute;

    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);

}

.about-content {
    text-align: center;
    color: white;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 3.0rem;
}

.about-content p {
    position: relative;
    font-size: 2.0rem;
    margin: 2rem 0 3rem;
}




/**Education**/
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background-color: #081b29;
    color: white;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}


.education-column .education-box {
    position: relative;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}